@import "tailwindcss";
@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01);
  }
}

.zoom-animation {
  animation: zoomInOut 3s ease-in-out infinite;
}


@keyframes leftRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.zoomanimation {
  animation: leftRight 1s ease-out;
}

@keyframes zoom {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.06);
  }
}

.zoom_animation {
  animation: zoom 4s ease-in-out infinite;
}

@keyframes leftRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.zoom.animation {
  animation: leftRight 1s ease-out;
}